* {
  padding: 0;
  margin: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
}
#line {
  position: relative;
}
#show > img {
  position: absolute;
  width: 10vw;
  height: 10vw;
  right: 1vw;
  top: 1vw;
}
#space {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#food {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 39vh;
  top: 58vh;
}
#food > img {
  position: absolute;
  width: 23vw;
  height: 19vw;
}
#human {
  display: flex;
  justify-content: center;
}
#human > img {
  position: absolute;
  top: 14vh;
  width: 45vh;
  height: 49vh;
}
#desk {
  background: gray;
  width: 100vw;
  height: 43vh;
  position: absolute;
  top: 57vh;
}
#mealOne > img {
  position: absolute;
  top: 5.5vh;
  right: 1.25vw;
  z-index: 7;
  width: 17vh;
}
#mealTwo > img {
  top: 5.5vh;
  left: 1.25vw;
  z-index: 5;
  width: 17vh;
  position: absolute;
}
#mealThree > img {
  position: absolute;
  top: 26vh;
  right: -1.5vw;
  z-index: 5;
  width: 6vh;
}
#mealFour > img {
  position: absolute;
  top: 26vh;
  right: 5.5vw;
  z-index: 5;
  width: 6vh;
}
#mealFive > img {
  position: absolute;
  top: 26vh;
  right: -8vw;
  z-index: 5;
  width: 6vh;
}
