body {
  margin: 0;
}
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
}
#line {
  background-color: black;
  width: 100vw;
  height: 2vh;
}

#graph {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#day {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(7, 1fr);
  width: 90vw;
  height: 40vh;
}
#menu {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  height: 45vh;
}
#한식,
#양식,
#후식 {
  text-align: center;
  font-weight: bold;
}
#menu > label {
  padding-left: 6vw;
}
#day {
  text-align: center;
}
button {
  padding: 1vw 1.25vw;
  background-color: #d7e057;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #548a5788;
}

button:active {
  background-color: #8cdb8e;
}

#bLine {
  margin-top: 0.5vw;
}
